* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    transition: .3s;
}

ul,
ol {
    list-style: none;
}

.clr {
    clear: both;
}

.clearfix {
    display: block;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
}

a {
    transition: .3s;
}

body {
    font: 14px/18px Helvetica Neue, Helvetica, Arial, sans-serif;
    /* font family công ty mình hay dùng */
    color: #333;
    outline: none;
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    text-rendering: geometricPrecision;
}

input[type=text],
input[type=tel],
textarea {
    -webkit-appearance: none;
}

.text-up {
    text-transform: uppercase;
}

.dp-none {
    display: none;
}

/* Arrow */
.arrow::after {
    border-top: 1px solid #222b45;
    border-left: 1px solid #222b45;
    content: '';
    width: 4px;
    height: 4px;
}

.arrow-bottom::after {
    transform: rotate(222deg);
    position: absolute;
}

/* Icon */
[class^="icon-"],
[class*="icon-"] {
    background-image: url(https://cdn.tgdd.vn/bachhoaxanh/www/Content/images/desktop/bhxdesk@2x.v202305300928.png);
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    background-size: 500px auto;
}

.icon-lgbhx {
    background-position: -45px -293px;
    width: 150px;
    height: 34px;
}

.icon-loca {
    background-position: -319px -295px;
    width: 13px;
    height: 18px;
}

.icon-search {
    background-position: -282px -33px;
    width: 18px;
    height: 18px;
}

.icon-cart {
    background-position: -256px -33px;
    width: 24px;
    height: 22px;
}

.icon-menu {
    background-position: -294px -162px;
    width: 21px;
    height: 21px;
}

.icon-prdpromo {
    background-position: -385px -295px;
    width: 17px;
    height: 17px;
}

.icon-expired {
    background-position: -380px -166px;
    width: 14px;
    height: 14px;
}

.icon-store {
    background-position: -354px -165px;
    width: 14px;
    height: 14px;
}

.icon-clock {
    background-position: -55px -261px;
    width: 27px;
    height: 30px;
}

.icon-swap {
    background-position: -122px -261px;
    width: 27px;
    height: 30px;
}

.icon-tel {
    background-position: -183px -268px;
    width: 16px;
    height: 17px;
}

.icon-tgdd {
    background-position: -171px -68px;
    width: 115px;
    height: 18px;
}

.icon-dmx {
    background-position: -171px -88px;
    width: 115px;
    height: 18px;
}

.icon-maiam {
    background-position: -150px -240px;
    width: 63px;
    height: 18px;
}

.icon-ftPurchase {
    background-position: -317px -267px;
    width: 25px;
    height: 20px;
}

.icon-ftStore {
    background-position: -154px -267px;
    width: 25px;
    height: 20px;
}

.icon-bct {
    background-position: -286px -110px;
    width: 92px;
    height: 32px;
}

.icon-phone {
    background-position: -160px -216px;
    width: 16px;
    height: 16px;
}

.icon-fb {
    background-position: -131px -67px;
    width: 16px;
    height: 17px;
}

.icon-gg {
    background-position: -213px -216px;
    width: 17px;
    height: 17px;
}

.icon-closelocanav {
    background-position: -270px -295px;
    width: 20px;
    height: 20px;
}

.icon-feedback {
    background-position: -131px -143px;
    width: 40px;
    height: 40px;
}

/* OWL */
.slider-pro .owl-prev {
    position: absolute;
    top: 80px;
    left: 20px;
}

.slider-pro .owl-next {
    position: absolute;
    top: 80px;
    right: 20px;
}

.slider-pro .owl-nav .owl-next,
.slider-pro .owl-nav .owl-prev {
    width: 20px;
    height: 20px;
    background-color: #008848 !important;
    border-radius: 50%;
}

.slider-pro:hover .owl-nav .owl-next,
.slider-pro:hover .owl-nav .owl-prev {
    width: 40px;
    height: 40px;
}

.slider-pro .owl-nav span {
    font-size: 26px;
    color: #fff;
    margin-left: 2px;
}

.slider-pro:hover .owl-nav span {
    font-size: 40px;
}

.slider-pro .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    top: 175px;
}

/* Body */
body {
    background-color: #e9edf0;
}

/* Header */
header {
    background-color: #008848;
    position: fixed;
    padding-left: calc((100% - 1200px)/2);
    padding-right: calc((100% - 1200px)/2);
    top: 0;
    z-index: 2;
}

.header-wrap {
    display: flex;
    width: 1200px;
    padding-left: 220px;
}

.logo-bhx {
    width: 160px;
    padding: 8px 0 4px 0;
}

.loca {
    margin: 8px 0;
    position: relative;
}

.location {
    position: relative;
    background-color: #057541;
    color: #fff;
    width: 185px;
    border-radius: 3px;
    z-index: 2;
}

.location:hover {
    cursor: pointer;
}

.location .icon-loca {
    position: absolute;
    top: 8px;
    left: 4px;
}

.location p {
    padding: 4px 0 0 24px;
    font-size: 11px;
    line-height: 15px;
}

.main-search {
    display: block;
    width: 385px;
    position: relative;
}

.main-search .search-input {
    background: #fff;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 8px 0;
    margin: 9px 0 0 16px;
    font-size: 14px;
    text-indent: 10px;
}

.main-search .search-icon {
    top: 18px;
    right: -4px;
    position: absolute;
    border: none;
    background-color: #fff;
}

.your-oder {
    font-size: 12px;
    width: 92px;
    color: #fff;
    text-align: center;
    line-height: 15px;
    padding-top: 10px;
    margin-left: 16px;
}

.cart {
    width: 140px;
    background-color: #057541;
    color: #fff;
    padding-top: 6px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.cart .icon-cart {
    position: relative;
    top: 6px;
    right: 4px;
}

/* sidebar */
.sidebar {
    position: fixed;
    overflow-y: auto;
    width: 210px;
    max-height: 730px;
    color: #000;
    background-color: #fff;
    margin-top: 12px;
    border-radius: 4px 0 0 4px;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

.sidebar h2 {
    position: relative;
    padding: 10px 10px 10px 40px;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid #e5e5e5;
}

.sidebar h2 .icon-menu {
    position: absolute;
    left: 10px;
}

.menu-main li {
    padding-left: 7px;
    margin-bottom: 22px;
    position: relative;
    cursor: pointer;
}

.topromo {
    display: flex;
    margin-top: 10px;
}

.topromo h3 {
    font-size: 12px;
    font-weight: 600;
    color: #1d1d1d;
    margin-left: 5px;
}

.nav-parent {
    font-size: 12px;
    font-weight: 600;
    color: #1d1d1d;
    margin-bottom: 10px;
}

.nav-parent::after {
    right: 5px;
    top: 5px;
}

.nav-search {
    margin-right: 10px;
}

.nav-search .search-input {
    width: 100%;
    padding: 8px 0;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    text-indent: 10px;
    font-size: 12px;
}

.nav-search .search-icon {
    position: absolute;
    top: 5px;
    right: 8px;
    border: none;
    background-color: #fff;
}

.menu-main li a {
    color: #000;
}

.menu-main .installment {
    padding-left: 24px;
}

.menu-child {
    display: none;
}

.list-child li {
    padding: 6px 7px 6px 10px;
    margin-bottom: 0;
}

.menu-childItem {
    color: #1d1d1d;
    font-size: 12px;
    cursor: pointer;
}

/* Slider */
.slider {
    height: 200px;
}

/* Footer */
.box-footer {
    width: 980px;
    float: right;
    margin: 10px 0;
    background-color: #fff;
}

.benefits {
    display: flex;
    width: 100%;
    padding: 16px 0;
    font-size: 13px;
    border-bottom: 1px solid #f0f0f0;
}

.ship-onl,
.return-prd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.ship-onl i,
.return-prd i {
    margin-right: 15px;
}

.return-prd {
    border-left: 1px solid #ccc;
    color: #000;
}

.detail {
    display: flex;
}

.detail-box {
    width: 50%;
}

.callcenter {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 10px 5px;
    color: #008848;
}

.callcenter p,
.callcenter a {
    padding-left: 4px;
}

.callcenter a {
    color: #008848;
}

.linkstatic {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 3px 10px 5px;
}

.link-item {
    font-size: 12px;
    color: #288ad6;
    line-height: 28px;
}

.link-item::before {
    content: '•';
    display: inline-block;
    font-size: 8px;
    color: #288ad6;
    vertical-align: middle;
    margin-right: 5px;
}

.link-itemSpec {
    font-size: 12px;
    line-height: 28px;
    background-color: #ff4500;
    color: #fff;
    border-radius: 2px;
    text-indent: 8px;
    width: 80px;
}

.hot-job {
    margin-left: 18px;
    font-size: 12px;
    color: #288ad6;
    font-weight: bold;
    line-height: 28px;
}

.logo-member {
    display: flex;
    margin: 5px 0 10px 10px;
}

.logo-member a {
    margin-left: 10px;
}

.logo-member span {
    font-size: 13px;
}

.stores {
    padding-left: 95px;
}

.stores-item {
    padding: 10px 0 5px;
    font-size: 14px;
    font-weight: 700;
}

.stores-item i {
    vertical-align: middle;
}

.purchaselink {
    color: #008848;
    line-height: 20px;
}

.systemlink {
    color: #288ad6;
}

.systemlink span {
    color: #a30a1d;
}

.socail {
    line-height: 30px;
    display: flex;
    margin-right: 10px;
    flex-wrap: wrap;
    padding-left: 73px
}

.socail a {
    margin: 5px 5px 0 5px;
}

.fb-iframe span {
    overflow: hidden;
    height: 21px;
    border-radius: 2px;
    width: 100px;
    display: inline-block;
    position: relative;
    text-align: justify;
    vertical-align: bottom;
}

.dmca-badge {
    padding-top: 4px;
}

.ytb-iframe {
    width: 84px;
    height: 24px;
}

.ncsc img {
    width: 100px;
}

.copyright {
    float: right;
    font-size: 10px;
    color: #999;
    text-align: center;
    background: #e9edf0;
    padding: 5px 0;
}

.socail iframe {
    height: 24px;
}

.copyright a {
    font-size: 10px;
    color: #999;
    text-decoration: underline;
}


/* Loca */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1;
    justify-content: center;
}

.locanav {
    background-color: #fff;
    margin-top: 50px;
    margin-right: 225px;
    color: #000;
    width: 360px;
    position: absolute;
}

.locanav-alert {
    background: #fffbe5;
    padding: 12px 10px;
    color: #222b45;
    font-size: 13px;
}

.locanav-title {
    background-color: #037841;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    font-size: 14px;
}

.locanav-title h3 {
    font-size: 14px;
    font-weight: 400;
}

.locanav-title .icon-closelocanav {
    position: absolute;
    right: 10px;
    top: 74px;
}

.locanav-search {
    margin: 10px;
}

.loca-near {
    padding-bottom: 7px;
    margin-left: -1px;
}

.loca-near .icon-locanear {
    position: relative;
    top: 6px;
}

.loca-near span {
    color: #000;
    font-size: 12px;
    padding-left: 5px;
}

.input-search {
    position: relative;
}

.input-search input {
    display: block;
    padding: 8px;
    color: #555;
    border: 1px solid #ccc;
    font-size: 12px;
    border-radius: 4px;
    width: 100%;
    padding-right: 65px;
}

.input-search .icon-search {
    position: absolute;
    right: 10px;
    bottom: 0;
    top: 8px;
}

.locanav-list {
    max-height: 380px;
    overflow-y: auto;
}

.locanav-list li {
    padding: 17px 10px;
    border-bottom: 1px solid #e4e9f2;
    font-size: 12px;
}